@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  background-color: #eee;
  color: #191919;
  padding: 0;
  margin: 0;
  font-family: "Poiret One", cursive;
}
hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
}
.navbar {
  background-color: transparent;
}
.navbar.colorChange {
  background-color: #191919;
}
